/** Custom Styling **/

.groupgrid {
  padding-bottom: 15px;
}

body {
  padding: 50px;
}
.thumbnail {
  overflow: hidden;
  max-height: 400px;
  max-width: 300px;
}

.detailpic {
 max-height: 100px;
 max-width: 100px;
 float:left;
 display: inline-block;
 margin-right: 40px;
}

.leaderboard {
  font-size: 20px;
  margin: 20px;
}

.leaderboard:hover {
   text-decoration: underline;
   cursor: pointer;
}

.active {
  font-weight: bold;
  color: #1a1a92;
}

.lbpic {
  max-width: 50%;
  display: block;
}

.lbitem {
  padding: 10px;
}

.memberpic {
  height: 300px;
  overflow: auto;
}

ul {
  list-style: none;
}

.clickable:hover {
  text-decoration: underline;
  cursor: pointer;
  color: #1a1a92;
}

a:hover {
  color: #1a1a92;
}

.loader {
  width: 200px;
  vertical-align: middle;
  display: block;
}

.login {
  padding: 20px;
  margin: 30px;
}